/*
/*/

**.DS_store
**.json

# Include Git Ignore
!/.gitignore

# Include .zshrc
!/.zshrc

# Include .prettierrc
!/.prettierrc

# Include .tmux.conf
!/.tmux.conf

# Include LIMO
!/.limo

# Exclude all inside config files
!/.config
/.config/*

# Include Config Files
!/.config/kitty
!/.config/nvim
!/.config/oh-my-posh
!/.config/hypr
!/.config/waybar
!/.config/backgrounds
!/.config/wofi
!/.config/fastfetch
!/.config/btop
!/.config/sway
!/.config/aerospace
