/*
/*/

**.DS_store
**.json

# Include Git Ignore
!/.gitignore

# Include .zshrc
!/.zshrc

# Include .prettierrc
!/.prettierrc

# Include .tmux.conf
!/.tmux.conf

# Include README.md
!/README.md
!/README_MacOS.md
!/README_Linux.md

# Include config
!/.config
/.config/*
!/.config/kitty
!/.config/nvim
!/.config/oh-my-posh
!/.config/hypr
!/.config/waybar
!/.config/backgrounds
!/.config/wofi
